.oven-scheduler-container {
  width: 100%; /* Take full width of the container */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.oven-scheduler {
  width: max-content; /* Expand the table to fit its content */
  table-layout: auto; /* Adjust the width of columns based on content */
}

.oven-scheduler th, .oven-scheduler td {
  width: 100px; /* Keep the fixed width for each time slot */
  position: relative;
}

.time-slot {
  min-height: 50px;
}

.time-slot div {
  height: 100%;
  box-sizing: border-box;
}

/* Container for food list */
.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling the food list */
.food-list ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start; /* Align food items to the left */
}

/* Uniform size for each food item */
.food-list .food-item {
  width: 100px; /* Fixed width */
  height: 80px; /* Fixed height for consistency */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 5px 0;
  padding: 5px;
  cursor: grab;
}

/* Table styling */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  background-color: #f8f8f8;
  padding: 10px;
  font-weight: bold;
}

td {
  background-color: #fff;
  vertical-align: middle;
  border: 1px solid #ddd;
}

/* Row styling */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for table rows */
tr:hover {
  background-color: #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.date-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.date-navigation span {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.current-time-line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: red;
  z-index: 10;
  transition: left 30s linear; /* Smooth transition for real-time updates */
}